@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Admin Dashboard</h1>

<p>
    <a asp-action="Users" class="btn btn-outline-primary">Users</a>
    <a asp-controller="Admin" asp-action="CreateUser" class="btn btn-primary">Create New User</a>
</p>